.widget {
  height: 440px;
  width: 300px;
  background-color: #313131;
  border: 1px solid #FCFCFC;
  margin: 0px auto;
  margin-top: 100px;
  border-radius: 20px;
}

.widget-title {
  text-align: left;
  margin: 10px;
  padding: 10px;
  color: #F0F0F0;
  font-family: Arial;
  font-size: 120%;
  font-weight: normal;
}

.left-side{
  display: flex;
  align-items: center;
  width: 110px;
  border-right: 1px solid black;
  height: 40px;
}

.color {
  transform: scale(2);
  margin-right: 15px;
  margin-left: 10px;
  display: inline-block;
}

.email {
  text-align: left;
  margin-left: 10px;
  color: #565656;
}

.people {
  position: relative;
  font-size: 14;
  font-family: Arial;
  list-style: none;
  color: #FEFEFE;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.people li {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
  max-height: 20px;
  align-items: center;
  position: relative;
}

.name {
  margin: 0;
}

.select {
  margin: 10px;
  margin-top: 13px;
  margin-left: 170px;
}

.green {
  color: #00FF31;
}

.yellow {
  color: #C2CC00;
}

.red {
  color: #FF0000;
}

.black {
  background-color: #1A1A1A;
}

.gray {
  background-color: #212121;
}

.on-click-span {
  position: absolute;
  left: 120px;
  top: 0px;
  background-color: #484848;
  display: none;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  width: 178px;
  margin-bottom: -50px;
  z-index: 9;
}

.on-click-span span {
  padding: 5px;
}

figure {
  position: relative;
}

.modal {
  display: none;
  position: absolute;
  left: -40;
  height: 330px;
  width: 300px;
  background-color: black;
  opacity: .7;
  z-index: 5;
}
